
.clock{
   color:rgba(255, 255, 255, 0.623);
   font-size: 14rem;
   font-weight: bold;
   font-family: monospace;
   text-align: center;
   margin-bottom: 100px;
}

body{
  background-image: url(assets/toodolist.jpg);
  background-position:center ;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0px;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
}